.sudoku-grid {
    display: grid;
    /*width: 1px;*/
    /* grid-template-columns: auto auto auto; */
    /*background: black;*/
}

.sudoku-region {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    border: solid 0.1em black;
}

.sudoku-cell {
    display: flex;
    height: 4.5em;
    width: 4.5em;
    border: solid 0.01em gray;
    background: white;
    align-items: center;

    text-align: center;
    justify-content: center;
}

.sudoku-num {
    font-size: 2em;
    justify-content: center;
}

.sudoku-num.hint {
    font-weight: bold;
}

.sudoku-cell:has(.hint) {
    background-color: LightGrey;
}

.sudoku-cell:has(.marked) {
    background-color: rgba(95, 35, 71, 0.5);
    /* background-color: #c8e6c9; */
}

.sudoku-cell:has(.marked-assoc) {
    background-color: rgba(95, 35, 71, 0.25);
    /* background-color: #c8e6c9; */
}

.sudoku-candidates {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 100%;
}

.sudoku-candidate {
    width: 100%;
    height: 100%;
}

#wrapper {
    display: flex;
    height: auto;
    align-items: center;
}
#sudoku {
    padding-right: auto;
}
#sudoku-numpad {
    padding-left: 20px;
    place-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.numpad-cell {
    display: flex;
    height: 4.5em;
    width: 4.5em;
    border: solid 0.01em gray;
    background: yellow;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.numpad-cell.del-btn {
    background: red !important;
}

.numpad-cell.show-hint-btn {
    background: green !important;
}

.sudoku-number-blur {
    filter: blur(5px);
    user-select: none;
    pointer-events: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5; /* optional visual feedback */
}
