.sudoku-grid {
    display: grid;
    width: 1px;
    /* grid-template-columns: auto auto auto; */
    background: black;
}

.sudoku-region {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    border: solid 0.1em black;
}

.sudoku-cell {
    display: flex;
    height: 4.5em;
    width: 4.5em;
    border: solid 0.01em gray;
    background: white;
    align-items: center;

    text-align: center;
    justify-content: center;
}

.sudoku-num {
    font-size: 2em;
    justify-content: center;
}

.sudoku-num.hint {
    font-weight: bold;
}

.sudoku-cell:has(.sudoku-num.hint) {
    background-color: LightGrey;
}

.sudoku-cell:has(.sudoku-num.marked) {
    background-color: rgba(95, 35, 71, 0.5);
    /* background-color: #c8e6c9; */
}

.sudoku-cell:has(.sudoku-num.marked-assoc) {
    background-color: rgba(95, 35, 71, 0.25);
    /* background-color: #c8e6c9; */
}
